<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E Journal Project</title>
</head>
<body>
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">
            <button>
                Login
            </button>
        </a>
    {% else %}
        <h1>{{ type }} - {{ user.username }}</h1>
        <a href="{% url 'student_cabinet' %}">
            <button>
                My Cabinet
            </button>
        </a>
        <a href="{% url 'logout' %}">
            <button>
                Logout
            </button>
        </a>
        {% for subject in subjects %}
            <h3>Subject Name: {{ subject.title }}</h3>
            <p>Price: {{ subject.price }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>